
<body id="light">
    <nav class="sidebar close">
        <header>
          <div class="image-text">
            <span class="image">
              <img src="../../assets/img/MicrosoftTeams-image.png">
            </span>
            <div class="text logo-text">
              <span class="name">Cognivu</span>
            </div>
          </div>
          <i class='bx bx-chevron-right toggle' (click)="toggleSidebar()"></i>
        </header>
        <div class="menu-bar">
          <div class="menu">
            <li class="search-box" (click)="openSidebar()">
              <i class='bx bx-search icon'></i>
              <input type="text" placeholder="Search...">
            </li>
            <ul class="menu-links">
              <li class="nav-link">
                <a href="#">
                  <i class='bx bx-home-alt icon' ></i>
                  <span class="text nav-text">Dashboard</span>
                </a>
              </li>
    <!--<nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="../../assets/img/MicrosoftTeams-image.png" >
                </span>

                <div class="text header-text">
                    <span class="name">Cognivu</span>
                    <span class="profession">Dashboard</span>
                </div>
            </div>

           <i class='bx bx-chevron-right toggle'></i> 
        </header>
        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                -->

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-pie-chart-alt icon' ></i>
                            <span class="text nav-text">Alerting</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="#">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>

                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch" id="mytoggle" (click)="toggleDarkMode()">
                        <span class="switch"></span>
                    </div>
                </li>
                
            </div>
        </div>

    </nav>

    <section class="home">
        <span class="homeimage">
            <p style="text-align: center; font-size: 25px;">Welcome to Cognivu</p>
        </span>
        <div style="width: 600px;height: 600px; padding-left: 100px;">
            <canvas id="myChart"></canvas>
          </div>
    </section>
</body>
